---
layout: default
---

<div class="home">
  <a class="search-filter-button header-search-button" href="#">
      <i class="glyphicon glyphicon-search pad-right"></i>
      <span class="hidden-xs">&nbsp;Find and Filter</span>
  </a>
  <input id="nav-trigger" class="nav-trigger" type="checkbox">

  {% include search.html %}

  <ul id="container" class="post-list js-packery"
    data-packery-options='{ "itemSelector": ".item" }'>

    {% for post in site.posts %}
      <li class="carditem item{% if post.size > 1 %} {{ post.size }}{% endif %}" id="{{ post.id | slugify }}">
        <div class="card">
          <div class="card-image {{ post.color }}">
            <a href="{{ post.url | prepend: site.baseurl }}">
                {% if post.image %}
                <img class="card-back" src="{{ post.image}}" alt="case study image"/>
                <span class="card-title">
                    <span class="card-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    {{ post.title }}
                </span>
                {% else %}
                <span class="card-title inline">
                    <span class="card-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    {{ post.title }}
                </span>
                {% endif %}
            </a>
          </div>
          <div class="card-content">
            {{ post.excerpt | strip_html }}<p><a href="{{ post.url | prepend: site.baseurl }}">Read the full article</a></p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
<script>
  //var customFilter = (function($){
    var mod = [];

    mod.applyFilter = function (filters, keywords) {
      var $articles = $(".carditem");
      var matchingArticles = [];

      $articles.hide();

      $.getJSON("posts.json", function(data){
        $.each(data, function(key, val){

          // Check if matches all the filters
          var filterMatch = true;
          $.each(filters, function(name, filter) {
            filterMatch = filterMatch && searchByFilter(val, filter); 
          })

          // Perform a keyword search
          var keywordSearch = searchByKeyword(val, keywords);

          if(filterMatch && keywordSearch) {
            matchingArticles.push(val.id);
          }


        });

        $.each(matchingArticles, function(key, data){
          $(".carditem#" + data).show();
        });

        // Force layout
        $("#container").packery();

      });

    }

    var searchByFilter = function(post, filter) {
      if (filter.values.length == 0) {
        return true;
      }

      var postValues = [];
      var postElement = post[filter.metadataField];
      if (Array.isArray(postElement)) {
        postValues = postElement;
      } else {
        postValues.push(postElement);
      }

      var matchingElements = arrayIntersection(postValues, filter.values);
      if (matchingElements && matchingElements.length > 0) {
        return true;
      }

      return false;
    }

    var searchByKeyword = function(post, keywords) {
      if (!keywords) {
        return true 
      }

      // Search title and then in the excerpt
      var searchRegEx = new RegExp(keywords, "i");
      var result = post.title.search(searchRegEx);
      if (result < 0) {
        result = post.excerpt.search(searchRegEx);
        if (result < 0) {
          result = post.content.search(searchRegEx);
        }
      }

      return result >= 0;
    }

    mod.removeFilters = function () {
      var $articles = $(".carditem");
      $articles.show();

        // Force layout
        $("#container").packery();

    }

    var arrayIntersection = function(array1, array2) {
      return array1.filter(function(n) {
          return array2.indexOf(n) != -1;
      });
    }

    //return mod;
  //}(jQuery));
</script>